header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding-inline: 10px;
    // background-color: lightblue;

    position: sticky;
    top: 0;
    z-index: 5;

    background-color: transparent;
    // background-color: $main-clr2;
    padding: 10px $layoutPadding;

    .logo {
        display: flex;
        align-items: center;

        h1 {
            color: $main-clr;
            font-size: 40px;
        }
    }

    ul{
        display: flex;
        list-style: none;
    }

    a {
        margin-inline-start: 1em;
    }

    img {
        width: 50px;
    }
}