
// COLOR PALETTE
// $clr1: #9cc2dd;
$clr1: rgba(6, 86, 86, 0.882);
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;
// $main-clr: #0d7e80;
$main-clr: #6ddddf;
$main-clr2: rgba(0, 139, 139, 0.267);
$main-clr3: rgba(138, 199, 199, 0.921);
$main-clr4: #0a4d50;
$main-clr5: #0d7e80;
// $bg-clr: #e7f5f5;
$bg-clr: #344444;

// LAYOUT
$layoutPadding: 100px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;